@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: lightgray;
    height: 100%;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}