@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: lightgray;
    height: 26vh;
}

header img {
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    background-color: white;
    padding: 20px;
}
main h2{
    color: rgb(107, 241, 107);
}
.container {
    position: relative;
    width: 70vw;
    font-family: Arial, sans-serif;
}


.banner {
    width: ;
    margin: 15;
    margin-left: 50px;
    padding: 10px;
}

.text-box {
    position:absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    margin: 15px;
     margin-left: 50px;
    padding: 10px;
}


.tag {
    background: green;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.6em;
}


.text-box h2 {
    margin: 15px 0 5px;
    font-size: .7em;
    line-height: 1.3;
}

.meta {
    font-size: 14px;
    opacity: 0.9;
}

