@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: lightgray;
    height: 28vh;
}

header img {
    height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 70vw;
    font-family: Arial, sans-serif;
}


.banner {
    width: 100%;
    margin: 15;
    
}

.text-box {
    position:absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    margin: 15px;
}


.tag {
    background: green;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.8em;
}


.text-box h2 {
    margin: 15px 0 5px;
    font-size: .7em;
    line-height: 1.3;
}

.meta {
    font-size: 14px;
    opacity: 0.9;
}

main {
    background-color: white;
    padding: 20px;
}